<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>[[[page:title]]]</title>
<script src='/nitrogen/jquery.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/jquery-ui.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
<script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
<link rel="stylesheet" href="/nitrogen/jquery-ui/jquery-ui.css" type="text/css" media="screen" charset="utf-8">
<style type="text/css">
table.sample {
	border-width: 0px;
	border-spacing: 0px;
	border-style: none;
	border-color: #808080;
	border-collapse: collapse;
  table-layout:fixed;
  width:490px;
}
table.sample th {
	border-width: 1px;
	padding: 5px;
	border-style: groove;
	border-color: #0000ff;
}
table.sample td {
	border-width: 1px;
	padding: 5px;
	border-style: groove;
	border-color: #0000ff;
}
</style>

</head>

<body>
<div id="container">
	<div id="header">

	</div>
	<div id="border">
		<div id="main">
			<div id="left">
				<div id="menu">
					<ul>
            [[[page:categories]]]
            <li class="lastchild"><a href="http://www.freewebsitetemplates.com">Terms &amp; Policies</a></li>
					</ul>
				</div>
				<div id="menubottom">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="admin">Admin</a></li>
						<li><a href="login">Login</a></li>
					</ul>
				</div>
			</div>
			<div id="right">
				<div class="content">
					<h3>Welcome</h3>
			  </div>
				<div class="clear">
          [[[page:klient]]]
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>	</div>
	<div id="footer">
		<div id="copyright">
			<span>© Copyright Salt and Soap.com, 2006.<br /> All rights reserved.</span>
		</div>
		<div id="payment"><img src="images/paypal.gif" alt="paypal" /></div>
	</div>
	<div id="footerend"></div>
</div>
<script>
[[[script]]]
</script>
</body>
</html>
